.disapper{
        display:none;   
    }
.apper{
        display:block;
    }
   
    .side{
     
      box-sizing: border-box;
      top: 0px;
      right:0;
      height: 100%;
      width: 70%;
      position: fixed;
      overflow: auto;
      background: #eee;
      padding: 20px;
      

        }
   