.disapper{
        display:none;   
    }
.apper{
        display:block;
    }
   
    .side{
     
      box-sizing: border-box;
      top: 0px;
      right:0;
      height: 100%;
      width: 70%;
      position: fixed;
      overflow: auto;
      background: #eee;
      padding: 20px;
      

        }

  div.hidden {
          display: none;
         }
        
  div.show{
    animation: slide 1s;
    
  }

  @keyframes slide{
    0%{margin-top:20%;opacity:0}
    100%{margin-top:0%;opacity:1.0}
  }